@import "../../style/sass/abstracts/variables";

.accordion-section {
  margin: 1rem 0;

  .accordion-btn {
    width: 100%;
    border: none;
    background-color: $base-lighter-gray;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
    padding: 0px 20px 0px 10px;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;

    .accordion-title {
      margin: 0;
      color: black;
      &:before {
        margin-right: 10px;
      }
    }
    .chevron {
      &:before {
        border-style: solid;
        border-width: 0.25em 0.25em 0 0;
        content: "";
        display: inline-block;
        height: 1rem;
        right: 0.5rem;
        position: relative;
        top: 0.5rem;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 1rem;
      }
    }
    .chevron.right {
      transform: rotate(90deg);
      transition: transform 0.2s linear;
      &:before {
        transform: rotate(45deg);
        transform-origin: right;
      }
    }

    .chevron.right.open {
      transform: rotate(0deg);
      transition: transform 0.2s linear;
    }
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
    /*transition: max-height 0.6s ease;*/
    .content-paragraph {
      padding: 1rem;
    }
  }
  .active-accordion {
    max-height: 1000px;
  }
}
