@import "../../style/sass/abstracts/mixins";

.home-page-container {
  .header-container {
    background-color: #cbd5e0;
  }
  .banner-img-container {
    background: url("../../img/yellowstone-national-park.jpg");
    background-position: 50% 65%;
    background-size: cover;
    height: 600px;
    opacity: 0.9;
    @include mq($breakpoint: "phone", $direction: "down") {
      height: 300px;
    }
  }
}
