@import "../../style/sass/abstracts/variables";
@import "../../style/sass/abstracts/mixins";

.location-detail-content-container {
  display: flex;
  padding: 2rem;

  .map-details-nav {
    width: 12%;
    position: relative;
    .fixed-sticky-nav {
      position: -webkit-sticky;
      position: sticky;
      top: 30%;
      z-index: 10;
    }
    .navbar-ul {
      list-style: none;
      padding-left: 0;
      .nav-item {
        button {
          text-align: left;
          padding-left: 0;
          color: $black;
        }
      }
      .nav-link-btn {
        @include btn-to-link;
        padding: 0.25rem 3rem;
      }
    }
  }

  .accordion-container {
    width: 100%;
  }
}
