@import "../../../../style/sass/abstracts/variables";

.map-navbar {
  .form-control {
    height: $default-input-height;
    color: $base-gray;
  }
}

// don't display map navbar if the map details are full screen
.map-navbar.fs {
  display: none;
}