.time-series-section {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.time-series-plot {
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
}

.time-series-section.fs .time-series-plot {
  width: calc( 100% - 33vw - 20px );
  max-width: calc( 100% - 33vw - 20px );
}

.js-plotly-plot {
  width: 100%;
  min-width: 100%;
}

.plot-container {
  width: 100%;
}

.time-series-control {
  display: flex;
  position: static;
  flex-wrap: wrap;
  >p {
    font-weight: 700;
    font-size: 15px;
  }
}

.time-series-input {
  margin-right: 1rem;
  font-weight: 700;
  >input, label, select {
    display: block;
  }
  >input, select {
    width: 150px;
    height: 30px;
  }  
}

.time-series-table {
  width: 100%;
  >tbody {
    >tr:hover {
      background-color: rgba(0, 0, 255, 0.1);
      cursor: pointer;
    }
    td {
      vertical-align: middle;
      word-break: break-all;
    }
  }
}

.time-series-section.fs .time-series-table {
  width: 33vw;
  max-width: 33vw;
}

.time-series-selected-row {
  background-color: rgba(0, 0, 255, 0.1);
}
