/* font */

.font-semibold{
  font-weight: 600;
}

.text-2xl{
font-size: 1.5rem;
}

.text-base {
    font-size: 1rem;
}

.body-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
    --text-opacity: 1;
    color: #1a202c;
}

.title-text {
    text-transform: capitalize;
    font-size: 1.5rem;
}
