@tailwind base;

@tailwind components;

@tailwind utilities;

.body-text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;
    --text-opacity: 1;
    color: #1a202c;
    color: rgba(26, 32, 44, var(--text-opacity));
}

.title-text {
    text-transform: capitalize;
    font-size: 1.5rem;
}