@import "../../style/sass/abstracts/variables";

.rstm-toggle-icon {
  display: inline-block;
  &-symbol {
    width: $icon-size;
    height: $icon-size;
    text-align: center;
    line-height: $icon-size;
  }
}

.rstm-tree-item-group {
  list-style-type: none;
  padding-left: 0;
  border-top: 1px solid $base-light-gray;
  text-align: left;
  width: calc(100% - 30px);
  background-color: $white;
  z-index: 1000;
  position: absolute;
  overflow: auto;
  max-height: 75vh;
  padding-bottom: 0.25rem;
  border-radius: 0px 0px 5px 5px;
}

.rstm-tree-item {
  padding: 0.25rem 1rem;
  cursor: pointer;
  color: $base-dark-gray;
  background: none;
  box-shadow: none;
  z-index: unset;
  position: relative;

  &:hover, &:focus {
    cursor: pointer;
    background-color: #eeeeee;
  }

  &--active {
    color: $base-dark-gray;
    background: $base-lighter-gray;
    border-bottom: none;
  }

  &--focused {
    box-shadow: 0 0 5px 0 $base-dark-gray;
    z-index: 999;
  }
  &--has-nodes {
    color: $primary-blue-light;
  }
  .rstm-tree-label {
    &:before {
      margin-right: 0.5rem;
      color: $black;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 600px;
    vertical-align: middle;
  }
}
