@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
//grays
$white: white;
$black: black;
$base-lightest-gray: #fafafa;
$base-lighter-gray: #ededed;
$base-light-gray: #d1d1d1;
$base-gray: #666666;
$base-dark-gray: #333;
$base-darker-gray: #1c1c1c;

//primary blue
$primary-blue: #0166cc;
$primary-blue-light: #4d94dc;
$primary-blue-lighter: #99c2eb;
$primary-blue-lightest: #e6f0fa;
$primary-blue-dark: #00468f;
$primary-blue-darker: #002952;
$primary-blue-darkest: #000914;

// red
$primary-red-light: #e9626d;
$primary-red-lighter: #f2a6ab;
$primary-red-lightest: #fce9e9;
$primary-red-dark: #9b1720;
$primary-red: #de1e2f;
$primary-red-darker: #5a0e13;
$primary-red-darkest: #170305;

//typography
$base-font:'Roboto', sans-serif;

//sizing
$icon-size: 1.5rem;
$map-height: 80vh;
$map-details-width: 600px;
$map-details-toggle-btn-width: 50px;

//html colors
$ahref-color: #18bc9c;
