@import "../../../../style/sass/abstracts/mixins";
@import "../../../../style/sass/abstracts/variables";

// css for LocationDetailsContainer component
.fade {
  opacity: 0;
  transition: opacity 500ms;
}
body{
  opacity: 1;
  transition: opacity 500ms;
}
.map-details-wrapper {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  position: relative;

  .display-none {
    display: none;
  }
  .drawer-content-container {
    height: 100%;
    background: $white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(calc(-100% + 70px));
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: row;
    @include mq($breakpoint: "desktop", $direction: "up") {
      width: 40vw;
    }
    overflow-y: hidden;

    .drawer-content {
      width: 100%;
      
    }
    .outer-container {
      width: 100%;
      .drawer-icon-container {
        display: flex;
        flex-direction: column;
        text-align: right;
        height: 100%;
        margin-top: 5px;
        align-items: flex-end;
        .icons {
          margin: 5px 10px;
          padding: 10px;
          display: flex;
          justify-content: center;
          background-color: $base-lighter-gray;
          width: 50px;
        }
      }
    }
  }
  .is-expanded {
    .drawer-content-container {
      overflow-y: auto;
      transform: translateX(0);
      .outer-container {
        display: none;
      }
    }
  }
  .full-screen {
    width: 100vw;
    transition: width 0.5s ease-out;
    .outer-container {
      display: none;
    }
  }
}

// css for LocationDetails component
.location-detail-content-container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  min-height: 60vh;
  @include mq($breakpoint: "phone", $direction: "down") {
    flex-wrap: wrap;
  }

  .map-details-nav {
    position: relative;
    flex-shrink: 8;
    width: 100%;
    .fixed-sticky-nav {
      position: -webkit-sticky;
      position: sticky;
      z-index: 10;
      @include mq($breakpoint: "phone", $direction: "down") {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
    .navbar-ul {
      list-style: none;
      padding-left: 0;
      .nav-item {
        button {
          text-align: left;
          padding-left: .25rem;
          color: $black;
        }
      }
      .nav-link-btn {
        @include btn-to-link;
        padding: 0.25rem 3rem;
      }
    }
  }

  .accordion-container {
    width: 100%;
  }
}

// css for LocationDetailHeader component
.location-detail-header {
  width: 100%;
  padding: 1em;
  background-color: $base-lighter-gray;
  .location-expand {
    float:right;
  }
}

.fixed-sticky {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 11;
}