.map-details-wrapper {
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  position: relative;

  .is-expanded {
    .drawer-content-container {
      overflow-y: auto;
      transform: translateX(0);
      .outer-container {
        .drawer-icon-container {
          display: none;
        }
      }
    }
  }

  .drawer-content-container {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    z-index: 200;
    transform: translateX(-92%);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;

    .drawer-content {
      flex-grow: 100;
    }
    .outer-container {
      flex-grow: 1;
      .drawer-icon-container {
        display: flex;
        flex-direction: column;
        text-align: right;
        height: 100%;
        margin-top: 5px;
        .icons {
          margin: 5px 10px;
          padding: 10px;
          padding-right: 15px;
          background-color: lightgrey;
        }
      }
    }
  }
}


